.select {
	position: absolute;
	top: -60px;
	left: 20px;
    font-size: 16px;
	font-weight: bold;
    color: #6499E9;
    width: 200px;
    height: 40px;
    border: 2px solid #6499E9;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
}
