.containerModal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.226);
}

.isClose {
	display: none;
}

.modal {
	position: relative;
	background-color: #04448B;
	padding: 40px;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

h1 {
	color: white;
}